language: generic

git:
  submodules: false

notifications:
  slack:
    secure: XuwxghbhM3QeTlHhjJ4jrZdRGK5bhRK9b5hT8rPxa8V56+oMtNI+rgnJu5bj1NCJWfYDGMHp2uKJ5+8SQj9osMeZ1tKTrbGsbhQjJ0WPC0+rEhJhbYol4AktttYuSfZCFNV9BBJp+dodwJr0M05TQchdWYeRZM185DAMipHG6QkILiwvqEmAcn8gEs4EGloXY01oB21lEInC4SX0nM2xYvYl9g2+3fkJ1PF1dBQppr4mYoVayu8sIENOyB4RHYc1rD2YYsBGk1U9er+G4M3UPDtqmX08oQ+nRp5ZXSXNEGTxRIBGhXH2LbtI3kjjAinAhjZHPN0Cc9WbDACENLBmLeWt4yYq6+2ppPk2s9z/Yc3gf8vmdmG5k5/ufVkeIZiUsA6PTDEBZ2NbcDqFATtHdEKDLm5WoLaYw7yM3cfUu3w4CBRN0HH9MEMm5kXq4CqODgtYLpPTUzlwDmhpgDQYY8oUPczqtVZwt8ff9D+2vOjY+tMqXAe3liy5sm2kC7f9bjKRx16FsDv6PH1AJcgV1KwH3pTpTkSSMeiM2EJM4iiZ8bRmIC5ee+ulAcjEI+sYrjELmc1M2DxwACUMqzNoTEI8egRstWW9/WFFDnAl47ojDfzZNBbJcFFoyONv2BlQCefZ8NpDDniS+7F94ZloOGGgWknUkPh70LJ1444BViQ=

env:
  global:
    - PROJECT=GeoFeatures.xcodeproj
    - SCHEME=GeoFeatures-Package

matrix:
  include:
    -
      os: linux
      dist: bionic
      sudo: required
      env:
         - BUILD="cmake build"
    -
      os: osx
      osx_image: xcode11.2
      env:
         - BUILD="cmake build"
    -
      os: linux
      dist: bionic
      sudo: required
      env:
         - BUILD="swift build"
    -
      os: osx
      osx_image: xcode11.2
      env:
         - BUILD="swift build"
    -
      os: osx
      osx_image: xcode11.2
      env:
         - BUILD="pod lint"
    -
      os: osx
      osx_image: xcode11.2
      env:
         - BUILD="xcodebuild"
         - TEST_DEST="platform=OS X,arch=x86_64"
         - TEST_SDK=macosx
    -
      os: osx
      osx_image: xcode9.4
      env:
         - BUILD="xcodebuild"
         - TEST_DEST="platform=iOS Simulator,OS=11.4,name=iPhone 8"
         - TEST_SDK=iphonesimulator


# don't re-build for tags so that [publish binary] is not re-run
# https://github.com/travis-ci/travis-ci/issues/1532
branches:
  except:
    - /^[0-9]/

before_install:
  #
  # If there is a Gemfile for this os, install bundler and ask bundler to install the gems
  #
  - |
    if [ -e Gemfile ]; then
       export BUNDLE_GEMFILE=Gemfile
       gem install bundler -v 1.9.10
       bundler install
    fi
  #
  # Linux requires downloading Swift and tools
  #
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get update -y
      sudo apt-get -y install clang-3.8 lldb-3.8 libicu-dev

      wget https://swift.org/builds/swift-5.1.2-release/ubuntu1804/swift-5.1.2-RELEASE/swift-5.1.2-RELEASE-ubuntu18.04.tar.gz
      tar xzvf swift-5.1.2-RELEASE-ubuntu18.04.tar.gz
      export PATH=$(pwd)/swift-5.1.2-RELEASE-ubuntu18.04/usr/bin:$PATH
    fi

script:
  - |
    if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
       # Fix travis issue: https://github.com/travis-ci/travis-ci/issues/6307
       rvm get head --auto-dotfiles || true
    fi
  - |
    if [[ "$BUILD" == "cmake build"  ]]; then
      set -e  # Fail (and stop build) on first non zero exit code
      cmake ./
      make tests
      set +e
    fi
  - |
    if [[ "$BUILD" == "swift build"  ]]; then
      set -e  # Fail (and stop build) on first non zero exit code
      swift test
      set +e
    fi
  - |
    if [[ "$BUILD" == "pod lint" ]]; then
        set -e  # Fail (and stop build) on first non zero exit code
        bundler exec pod repo update
        bundler exec pod lib lint
        set +e
    fi
  - |
    if [[ "$BUILD" == "xcodebuild"  ]]; then
        set -e  # Fail (and stop build) on first non zero exit code
        cmake ./
        make xcode-project
        set -o pipefail
        xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$TEST_DEST" -sdk "$TEST_SDK" -enableCodeCoverage YES build-for-testing | bundler exec xcpretty
        xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$TEST_DEST" -sdk "$TEST_SDK" -enableCodeCoverage YES test              | bundler exec xcpretty
        set +o pipefail
        set +e
    fi

after_success:
  - bash <(curl -s https://codecov.io/bash)

